{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.js",
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "proseWrap": "always",
  "quoteProps": "consistent",
  "htmlWhitespaceSensitivity": "ignore"
}
